name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y libgtk-3-dev libwxgtk3.2-dev libudev-dev libgpod-dev libglib2.0-dev zlib1g-dev libutfcpp-dev
    
    - name: Checkout TagLib repository
      uses: actions/checkout@v4
      with:
        repository: taglib/taglib
        ref: v2.1.1

    - name: Install TagLib
      run: |
        cmake -DCMAKE_INSTALL_PREFIX=/usr/local -DCMAKE_BUILD_TYPE=Release ${{github.workspace}}
        make
        sudo make install
      
    - uses: actions/checkout@v4
          
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Upload artifact
      uses: actions/upload-artifact@v6.0.0
      with:
        name: wxPod-${{github.sha}}
        path: ${{github.workspace}}/build/wxPod

